In [1]:
import pandas as pd

In [2]:
recombined_isot = pd.read_csv('./recombined_tokenized_stopword_removed.csv/recombined_tokenized_stopword_removed.csv')

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer()

In [4]:
recombined_isot.head()

,Unnamed: 0,subject,title,text,date,title_tokenized,text_tokenized,text_stop_words_removed,title_stop_words_removed,text_recombined,title_recombined
0,0,politics,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,"December 31, 2017","['a', 'u.s.', 'budget', 'fight', 'loom', ',', ...","['washington', '(', 'reuters', ')', '-', 'the'...","['washington', 'reuters', 'head', 'conservativ...","['u.s.', 'budget', 'fight', 'loom', 'republica...",washington reuters head conservative republica...,u.s. budget fight loom republican flip fiscal ...
1,1,politics,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,"December 29, 2017","['u.s.', 'military', 'to', 'accept', 'transgen...","['washington', '(', 'reuters', ')', '-', 'tran...","['washington', 'reuters', 'transgender', 'peop...","['u.s.', 'military', 'accept', 'transgender', ...",washington reuters transgender people allowed ...,u.s. military accept transgender recruit monda...
2,2,politics,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,"December 31, 2017","['senior', 'u.s.', 'republican', 'senator', ':...","['washington', '(', 'reuters', ')', '-', 'the'...","['washington', 'reuters', 'special', 'counsel'...","['senior', 'u.s.', 'republican', 'senator', ""'...",washington reuters special counsel investigati...,senior u.s. republican senator 'let mr. muelle...
3,3,politics,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,"December 30, 2017","['fbi', 'russia', 'probe', 'helped', 'by', 'au...","['washington', '(', 'reuters', ')', '-', 'trum...","['washington', 'reuters', 'trump', 'campaign',...","['fbi', 'russia', 'probe', 'helped', 'australi...",washington reuters trump campaign adviser geor...,fbi russia probe helped australian diplomat ti...
4,4,politics,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,"December 29, 2017","['trump', 'want', 'postal', 'service', 'to', '...","['seattle/washington', '(', 'reuters', ')', '-...","['seattle/washington', 'reuters', 'president',...","['trump', 'want', 'postal', 'service', 'charge...",seattle/washington reuters president donald tr...,trump want postal service charge 'much amazon ...

In [5]:
sample_isot = recombined_isot.head()

In [7]:
x_sample = v.fit_transform(sample_isot['title_recombined'])

In [15]:
x_sample_tfidf = pd.DataFrame(x_sample.toarray(), columns=v.get_feature_names())

In [16]:
x_sample_tfidf

,accept,amazon,australian,budget,charge,diplomat,fbi,fight,fiscal,flip,...,russia,script,senator,senior,service,shipment,tip,transgender,trump,want
0,0.000000,0.000000,0.000000,0.387757,0.000000,0.000000,0.000000,0.387757,0.387757,0.387757,...,0.000000,0.387757,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.408248,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.387757,0.387757,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.333333,0.000000,0.000000,0.333333,0.333333,0.000000,0.000000,0.000000,...,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000
4,0.000000,0.353553,0.000000,0.000000,0.353553,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.353553,0.353553,0.000000,0.000000,0.353553,0.353553

In [17]:
v2 = TfidfVectorizer()

In [18]:
x = v.fit_transform(recombined_isot['title_recombined'])

In [22]:
import pickle

In [24]:
f = open('x_tfidf.pkl', 'wb')
pickle.dump(x, f)

In [31]:
x

<40536x17699 sparse matrix of type '<class 'numpy.float64'>'
	with 373728 stored elements in Compressed Sparse Row format>

In [25]:
f.close()

In [28]:
r = open('x_tfidf.pkl', 'rb')   # 'r' for reading; can be omitted
mydict = pickle.load(r)         # load file content as mydict
r.close()

In [30]:
mydict

<40536x17699 sparse matrix of type '<class 'numpy.float64'>'
	with 373728 stored elements in Compressed Sparse Row format>